$main-family: 'Roboto', sans-serif;
$second-family: 'Raleway', sans-serif;

$white-color: rgba(255, 255, 255, 1);
$gray-color: rgba(255, 255, 255, 0.6);
$accent-color: rgba(33, 150, 243, 1);
$accent-color-light: rgba(33, 150, 243, 0.9);
$txt-color: rgba(33, 33, 33, 1);
$light-txt-color: rgba(117, 117, 117, 1);
$close-btn-border: rgba(0, 0, 0, 0.1);
$footer-background: rgba(47, 48, 58, 1);
$header-border: rgba(236, 236, 236, 1);
$icons-color: rgba(175, 177, 184, 1);
