@use '../utils/variables' as *;

.hero {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 600px;

	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url('../images/desktop/background.jpg');
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
	(min-width: 1200px) and (min-resolution: 192dpi),
	(min-width: 1200px) and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/desktop-2x/background-2x.jpg');
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.hero {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/tablet/background-tablet.jpg');
	}
}

@media (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
	(min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
	(min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/tablet-2x/background-tablet-2x.jpg');
	}
}

@media (max-width: 767px) {
	.hero {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/mobile/background-mobile.jpg');
		height: 400px;
	}
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
	(max-width: 767px) and (min-resolution: 192dpi),
	(max-width: 767px) and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/mobile-2x/background-mobile-2x.jpg');
	}
}

.hero__title {
	line-height: 60px;
	text-transform: uppercase;
	color: $white-color;
	font-weight: 900;
	padding-bottom: 30px;
	font-size: 44px;
	letter-spacing: 0.06em;

	@media (max-width: 1199px) {
		padding-top: 100px;
		font-size: 26px;
	}
}

.hero__btn {
	padding: 10px 32px;
	background-color: $accent-color;
	color: $white-color;
	border-width: 0;
	border-radius: 4px;
	font-weight: 700;
	letter-spacing: 0.06em;
	line-height: 30px;
	font-size: 16px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-family: $main-family;

	@media (max-width: 1199px) {
		padding: 10px 24px;
	}
}
