@use '../utils/variables' as *;

.details {
	padding-top: 94px;
	padding-bottom: 94px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__item {
		width: calc(25% - 30px);
	}
}

.details-card {
	margin-bottom: 30px;

	&__title {
		color: $txt-color;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 10px;
		position: relative;

		&::before {
			content: '';
			display: block;

			height: 120px;
			margin-bottom: 20px;
			background-color: #f4f5fa;
			background-size: 70px 70px;
			background-repeat: no-repeat;
			background-position: center;
		}

		&--attention::before {
			background-image: url('../images/desktop/antenna.png');

			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background-image: url('../images/desktop-2x/antenna-2x.png');
			}
		}

		&--punctuality::before {
			background-image: url('../images/desktop/clock.png');

			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background-image: url('../images/desktop-2x/clock-2x.png');
			}
		}

		&--planning::before {
			background-image: url('../images/desktop/diagram.png');

			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background-image: url('../images/desktop-2x/diagram-2x.png');
			}
		}

		&--tech::before {
			background-image: url('../images/desktop/astronaut.png');

			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background-image: url('../images/desktop-2x/astronaut-2x.png');
			}
		}
	}

	&__description {
		font-size: 14px;
		line-height: 24px;
		color: $light-txt-color;
	}
}

@media (max-width: 1199px) {
	.details {
		&__list {
			gap: 30px;
		}
		&__item {
			width: calc(50% - 15px);
		}
	}
}

@media (max-width: 767px) {
	.details {
		&__item {
			width: 100%;
		}
	}

	.details-card {
		&__title {
			text-align: center;
		}
	}
}
