@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as *;

.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;

  &-left {
    display: flex;
    gap: 70px;
  }

  &__container {
    display: flex;
    gap: 93px;
  }

  &__address {
    padding-top: 20px;

    &-list {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      gap: 6px;
    }

    &-link {
      @include txt($font-size: 14px, $line-height: 24px);
      color: $gray-color;
    }

    &--add {
      color: #fff;
    }
  }

  &__wrapper {
    padding-top: 12px;
  }

  &__logo {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    font-style: bold;

    &-span {
      color: $accent-color;
    }
  }

  &__list {
    display: flex;
    gap: 10px;

    &-link {
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      display: block;

      &:hover {
        background-color: $accent-color;
      }

      &:hover .footer__list-icon {
        fill: $white-color;
      }
    }

    &-icon {
      fill: $white-color;
      height: 20px;
      width: 20px;
    }

    &-title {
      @extend %titles;
      font-size: 14px;
      padding-bottom: 20px;
      color: $white-color;
      text-align: left;
    }
  }

  &__form {
    display: flex;
    gap: 12px;
    align-items: end;

    &-wrapper {
      padding-top: 12px;
    }

    &-title {
      padding-bottom: 20px;
      color: $white-color;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-weight: 700;
    }

    &-input {
      border: 1px solid;
      border-radius: 4px;
      border-color: rgba(255, 255, 255, 0.3);
      padding: 15px 16px;
      background-color: transparent;
      width: 358px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03px;
      }
    }

    &-button {
      background-color: $accent-color;
      width: 200px;
      height: 50px;
      border: 0;
      border-radius: 4px;
      color: $white-color;
      line-height: 30px;
      font-size: 16px;
      letter-spacing: 0.06em;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 10px 28px;
      font-weight: 700;
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: $main-family;
    }

    &-icon {
      fill: $white-color;
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    &__address-wrapper {
      text-align: center;
    }

    &__container {
      flex-direction: column;
      gap: 60px;
      justify-content: center;
    }

    &-left {
      justify-content: space-around;
    }

    &__list {
      &-title {
        text-align: center;
      }
    }

    &__form {
      display: inline-block;

      &-wrapper {
        margin: 0 auto;
      }

      &-title {
        text-align: center;
      }

      &-input {
        width: 450px;
        margin-bottom: 20px;
      }

      &-button {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__form-wrapper {
      margin: 0;
    }
    &-left {
      flex-direction: column;
      gap: 60px;
    }

    &__list {
      justify-content: center;
    }

    &__form {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      &-label {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      &-input {
        width: 100%;
      }
    }
  }
}
