@use '../utils/variables' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &.is-hidden {
    transform: translateX(100%);
  }

  &.is-open {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;

    &-icon {
      width: 18px;
      height: 18px;
      fill: #000;
      &:hover {
        fill: #2196f3;
      }
    }
  }

  &__list {
    margin-top: 30px;
    margin-bottom: 306px;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    font-size: 40px;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    &:hover {
      color: #2196f3;
    }
  }

  &__contact-list {
    margin-bottom: 64px;
  }

  &__contact-item {
    margin-bottom: 32px;
  }

  &__contact-number {
    font-size: 34px;
    font-weight: 500;
    color: #2196f3;
    text-decoration: none;
  }

  &__contact-email {
    font-size: 24px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
  }
  &__social-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__social-item {
    padding: 0 10px 0 0;

    &:not(:last-child) {
      border-right: 1px solid #757575;
    }

    &:not(:first-child) {
      padding: 0 10px;
    }
  }

  &__social-name {
    color: #2196f3;
    font-weight: 500;
    text-align: left;
    font-size: 18px;
  }
}

.burger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
