@use '../utils/variables' as *;

// .first-button {
// 	padding-inline: 25px;
// }

.portfolio {
	&__button-list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
		padding-bottom: 34px;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	&__button {
		border: none;
		border-radius: 4px;
		background-color: #f4f5fa;
		font-size: 16px;
		padding: 6px 22px;
		cursor: pointer;
		line-height: 26px;
		letter-spacing: 0.03em;
		font-weight: 500;
		&:nth-child(1) {
			padding-inline: 25px;
		}

		&:hover {
			background-color: $accent-color;
			color: #fff;
			box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 94px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		outline: 1px solid #eeeeee;

		&:hover {
			box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
				0 1px 1px rgba(0, 0, 0, 0.12);
		}
	}

	&__image-wrapper {
		max-width: 450px;
		max-height: 294px;
	}

	&__image-container {
		position: relative;
	}
	&__image {
		position: relative;
		width: 100%;
		max-height: 294px;
		object-fit: cover;
	}

	&__overlay {
		&--wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		background-image: linear-gradient(
			to top,
			$accent-color-light,
			$accent-color-light
		);
		transform: translateY(100%);
		transition: transform 0.3s linear, opacity 0.3s linear;
	}

	&__item:hover &__overlay {
		opacity: 1;
		transform: translateY(0%);
	}

	&__overlay-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #fff;
		width: 300px;
		margin: 63px 24px;
	}

	&__link {
		font-weight: 700;
		font-size: 18px;
		color: $txt-color;
		padding: 20px 24px 4px 24px;
		line-height: 36px;
		letter-spacing: 6%;
	}

	&__category {
		font-weight: 400;
		font-size: 16px;
		color: $light-txt-color;
		padding: 0 24px 20px 24px;
		line-height: 30px;
		letter-spacing: 6%;
	}
}

@media screen and (max-width: 1199px) {
	.portfolio {
		&__item {
			width: calc(50% - 15px);
			height: auto;
		}
	}
}

@media screen and (max-width: 767px) {
	.portfolio {
		&__button-list {
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		&__button {
			padding: 6px 25px;
		}

		&__item {
			width: 100%;
		}

		&__image-container {
			max-height: 294px;
		}

		&__overlay-text {
			max-width: 402px;
			width: auto;
			margin: 0;
			padding: 77px 24px;
		}
	}
}

@media (max-width: 480px) {
	.portfolio {
		&__overlay-text {
			max-width: 402px;
			width: auto;
			display: flex;
			align-items: center;
			margin: 0 auto;
			padding: 0;
			padding: 77px 24px;
		}
	}
}
